body {
  background-color: #eee;
  margin: 0;
}

#wrapper {
  max-width: 800px;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

h1, h2, h3 {
  font-family: freight-sans-pro, 'Myriad Pro', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
  color: #333;
}

h1 {
  font-size: 52px;
  margin-top: 0;
}

#blog-title {
  margin-bottom: 0;
}

#blog-description {
  margin-top: -6px;
  margin-bottom: 0;
  color: #777;
  font-weight: normal;
  font-style: italic;
}

.article-title {
  margin-top: 35px;
  margin-bottom: 0;
}

.article-body {
  width: 600px;
  font-family: ff-tisa-web-pro, Georgia, Cambria, 'Times New Roman', Times, serif;
  font-size: 20px;
  line-height: 30px;
  margin-left: auto;
  margin-right: auto;
  color: #444;
}

.article-body img {
  display: block;
  margin-left: auto;
  margin-top: 40px;
  margin-right: auto;
  margin-bottom: 40px;
}

.noshow {
  display: none;
}

